:root{
    font-family: 'Montserrat', sans-serif;
    font-size: 16;
    font-weight: 400;
}


.block{
    margin: 0 auto;
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
    background-color: aquamarine;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.item{
    display: flex;
    margin: auto;
    cursor: pointer;
}

.itemBtn{
    background-color: beige;
    width: 150px;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}

.itemBtn.active{
    background-color: bisque;
    font-weight: 800px;
}

.contentCard{
    display: none;
    width: 460px;
    background-color: aliceblue;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
}

.contentCard.active{
    display: block;
}

